
/* Kotak Input NPSN & Password */
input[type="text"],
input[type="password"] {
    width: 95%;                     
    padding: 8px 12px;              
    margin: 5px auto 12px auto;     
    border-radius: 12px;
    border: none;
    background: #e0e4e8;            
    outline: none;
    display: block;
    transition: 0.2s;
}

input:focus {
    background: #ffffff;             
    box-shadow: 0 0 0 2px #0f766e;
}

/* Tombol Login */
button[type="submit"] {
    background: #f59e0b;      
    border: none;
    padding: 8px 16px;        
    border-radius: 20px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    display: block;
    margin-left: auto;         
    margin-top: 0;             
    transform: translateY(-4px); 
    font-size: 14px;
    transition: 0.2s;
}

button[type="submit"]:hover {
    background: #f7931e;
    transform: translateY(-4px) scale(1.05);
}

/* Error message */
.auth-error {
    margin-bottom: 12px !important;
    text-align: center !important;
    color: #dc2626 !important;
}